* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d4d5e9;



  font-family: 'Prompt', sans-serif;
  font-weight: 100;

}






/*****BANNER*****/

#banner {
  border: 2px solid black;
}

#elenco {
  border: 2px solid red;
  display: flex;
  justify-content: flex-start;
  height: 70px;

  /*diamo dei margini così è più pulito*/
  width: 80%;
  margin: auto;
}

#e {
  width: 20%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

#n {
  width: 60%;
  align-items: center;
  padding-left: 10px;

}

#b {
  width: 30%;
  align-items: center;
}


/*BARRA DI RICERCA*/
.button {
  border: none;
  border-radius: 30px;
  background-color: orange;
  padding: 10px;
  cursor: pointer;

  position: absolute;
  z-index: 1;

  margin-left: 220px;

}

.button:hover {
  background-color: gold;
}

.button img {
  width: 20px;
  height: 20px;
}

.search {
  border: 2px solid red;

  width: 250px;
  height: 35px;
  border-radius: 40px;
  padding: 10px;

  font-size: 15px;
}



.loghini {
  /*border: 2px solid green;*/

  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

li {
  border: 2px solid green;
  list-style-type: none;
  display: flex;

}






/*****HERO: LOGO e MENU*****/

#elenco2 {
  border: 2px solid red;

  display: flex;
  justify-content: flex-start;

  /*diamo dei margini così è più pulito*/
  width: 80%;
  margin: auto;

  margin-top: 30px;
}


#logo {
  width: 60%;
}

.fotologo {
  width: 100px;
  height: 100px;
}

.menu {
  width: 15%;
  justify-content: center;
  align-items: center;
}










/*****HERO2*****/

#hero2 {
  border: 2px solid red;

  display: flex;

  /*diamo dei margini così è più pulito*/
  width: 80%;
  margin: auto;

  margin-top: 30px;
}

#testo {
  border: 2px solid red;

}

#testo h1 {
  border: 2px solid black;

  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  font-weight: 600;
}

#testo h3 {
  border: 2px solid green;

  /*per distanziare i testi tra loro*/
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
}

.bottone {
  /*border: 2px solid blue;*/

  font-size: 20px;
  font-weight: bold;

  letter-spacing: 2px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 3px solid black;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: orange;
}


#mockup {
  border: 2px solid green;

  padding-right: 30px;
  width: 600px;
  height: 600px;
}








/*****CORPO*****/
.titolo {
  border: 2px solid blue;

  /*diamo dei margini così è più pulito*/
  width: 80%;
  margin: auto;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 40px;

  text-align: center;

}

.titolo img {
  border: 2px solid black;
  margin-bottom: 0px;
  margin-top: -30px;
}

#sezioni ul {
  border: 2px solid black;

  /*diamo dei margini così è più pulito*/
  width: 80%;
  height: 400px;
  margin: auto;


  display: flex;
  flex-direction: row;
}

#sezioni ul .sotto {
  border: 2px solid pink;

  width: 80%;
  margin: auto;
}

.idk {
  border: 2px solid yellow;

  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spazio {
  border: 2px solid yellow;

  height: 220px;
}

.icon {
  border: 2px solid red;
  border-radius: 100px;

  width: 120px;
  height: 120px;

  padding: 10px;
  box-shadow: 5px 5px 8px black;
}

.titoletto {
  border: 2px solid red;

  font-size: 25px;
  margin-top: 10px;
}

.testo2 {
  border: 2px solid red;

  /*diamo dei margini così è più pulito*/
  width: 70%;
  margin: auto;

  margin-top: 60px;
  text-align: center;
}

#sezioni-bottone {
  border: 2px solid red;

  /*diamo dei margini così è più pulito*/
  width: 80%;
  margin: auto;

  display: flex;
  justify-content: center;
}








/*****CORPO2*****/

.titolo h3 {
  border: 2px solid red;

  width: 70%;
  margin: auto;

  font-weight: 100;
}



#sezione2 {
  border: 2px solid red;

  display: flex;
  align-items: center;

  width: 80%;
  margin: auto;
}

#sezione2 img {
  border: 2px solid yellow;

}

#sezione2 ul {
  border: 2px solid blue;

}

#sezione2 li {
  width: 80%;
  margin-left: auto;

}

.spazio {
  padding-bottom: 90px;
}

#sezione2 .sn {
  border: 2px solid red;

  width: 100px;
  height: 100px;
  margin-right: 30px;
}


.social h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.social h2 {
  font-size: 22px;
  line-height: 18px;
  margin-bottom: 10px;
}
.social p {
  font-size: 18px;
  line-height: 18px;
}





/******CORPO3******/
.griglia {
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  margin:auto;
}

th, td {
  border: 2px solid red;

  padding: 25px;
  text-align: center;
}

.griglia p {
  margin: auto;
}

.griglia h3 {
  border: 2px solid green;

  margin-top: 10px;
  margin-bottom: 10px;
}



/******CORPO4******/
#corpo4 {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 180px;
  margin-bottom: 180px;
  height: 500px;
}

#corpo4 span, h1, p {
  border: 2px solid red;

  width: 80%;
  margin-bottom: 30px;
}

#corpo4 span {
  font-size: 15px;
}

#corpo4 h1 {
  font-size: 50px;
}





/******SLIDER******/
.item {
  border: 2px solid black;
  text-align: center;

  width: 220px;


}

.item p {
  margin: auto;
  margin-bottom: 20px;
}

.owl-carousel {
  border: 2px solid green;

  margin-bottom: 180px;
}




/******NEWSLETTER******/
#news-lettera {
  border: 2px solid green;

  position: absolute;
  z-index: 2;

  margin-bottom: 355px;



}

#news {
  background-color: lightgrey;
  border: 2px solid green;

  width: 80%;
  height: 350px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 40px;

  position: relative;
  z-index: -1;

  margin-bottom: 40px;

}





/******INFO******/
#info {
  background-color: black;
  color: white;

  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-around;
  height: 400px;
}

.info2 {
  border: 2px solid green;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

#info h3 {
  border: 2px solid red;

}

.info-sn img {
  border: 2px solid yellow;

  width: 22px;
  height: 22px;

  margin: 10px;
}

.info-mdp img {
  width: 40px;
  height: 40px;
}

#cell {
  border: 2px solid yellow;

  font-size: 26px;
  display: flex;
  align-items: center;
}


#cell p {
  border: 2px solid blue;

  margin: auto;
}
